<div batch_number="<%= dom_id batch %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Batch Number:</strong>
    <%= batch.batch_number%>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Batch date:</strong>
    <%= batch.batch_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Best by date:</strong>
    <%= batch.best_by_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quanity:</strong>
    <%= batch.quanity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= batch.product.product_name %>
  </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Product Type:</strong>
    <%= batch.product.product_type.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this batch", batch, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this batch', edit_batch_path(batch), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
