<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product name:</strong>
    <%= product.product_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product type:</strong>
    <%= link_to product.product_type.name,  product.product_type , { class: "hover:text-blue-500" } %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shelf life (days):</strong>
    <%= product.shelf_life %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sku:</strong>
    <%= product.sku %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Net weight:</strong>
    <%= product.net_weight %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shipping weight:</strong>
    <%= product.shipping_weight %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <div class="trix-content">
      <%= product.description %>
    </div>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this product', edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
