<!DOCTYPE html>
<html>
  <head>
    <title>ChocolateMaker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <div class="flex flex-col mx-5" >
        <%= link_to "Home", { controller: "tracker", action: "index" }, { class: "hover:text-blue-500" } %>
        <%= link_to "Batch", { controller: "batches", action: "index" }, { class: "hover:text-blue-500" } %>
        <%= link_to "Product", { controller: "products", action: "index" }, { class: "hover:text-blue-500" } %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
